.header-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 9999;
}

.fixed-header {
	margin: 0 10px 0 10px !important;
	font-weight: bold;
	border-bottom: 1px solid #434343;
	overflow: hidden;
}

.header-logo {
	width: 50px;
	float: left;
	cursor: pointer;
}

.header-registration {
	padding-top: 8px;
	float: right;
}

.header-registration a {
	font-size: 17pt;
	text-decoration: none;
	color: #434343;
}