<div class="page-container">
	<div class="start-area">
		<p>Select all the cells you want to analyze</p>
		<div>
			<button class="startButton" (click)="start()">Start</button>
		</div>
	</div>
	<div class="sheets">
		<button *ngFor="let sheetName of sheetNames; let i = index"
		[class]="isCurrentSheet(i) ? 'sheet-selected' : 'sheet-non-selected'"
		(click)="updateExcelView(i)">
		{{sheetName}}
		</button>
	</div>
	<table class="sjs-table">
		<tr>
			<th></th>
			<th *ngFor="let row of getEmptyArrayWithLength(maxHeaderSize); let i = index"
				(click)="setColumnSelection(i)"
				[class]="isColumnSelected(i) >= 0 ? 'selected-column' : ''">
				{{toExcelHeader(i + 2)}}
			</th>
		</tr>
		<tr *ngFor="let row of importedData[chechkedSheetIndex]; let i1 = index">
			<td class="heading">{{i1 + 1}}</td>
			<td *ngFor="let val of row; let i2 = index"
				(click)="setSelection(chechkedSheetIndex, i1, i2)"
				[class]="isSelected(i1, i2) != null ? 'selected' : 'non-selected'">
				{{val}}
			</td>
			<td *ngFor="let i of getEmptyCellCountArray(row)">
			</td>
		</tr>
	</table>
</div>
<app-loading #loading (onDone)="navigate()"></app-loading>